<% provide(:title, 'Projektplanung') %>
<h1>Platzhalter RCPSP</h1>
<p>
  Hier gehts zur Projektplanung...    <br>     <br>

  <%= link_to "Hier geht es zur Verwaltung der Vorgänge!", activities_path %><br>
  <%= link_to "Hier geht es zur Verwaltung der Ressourcen!", resources_path %><br>
</p>

<br>

<% if logged_in? %>


<% end %>