<p id="notice"><%= notice %></p>

<h1>Listing Resources</h1>

<table id="resources" class="display">
  <thead>
    <tr>
      <th>Name</th>
      <th>Kapazität</th>
      <th>Überstundenkosten</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @resources.each do |resource| %>
      <tr>
        <td><%= resource.name %></td>
        <td><%= resource.capacity %></td>
        <td><%= resource.overtime_cost %></td>
        <td><%= link_to 'Show', resource %></td>
        <td><%= link_to 'Edit', edit_resource_path(resource) %></td>
        <td><%= link_to 'Destroy', resource, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Neue Ressource', new_resource_path %>
<br>  <br><%= link_to 'Zurück zur Projektplanung', rcpsp_start_path %>