<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= best_in_place @resource, :name %>
</p>

<p>
  <strong>Capacity:</strong>
  <%= @resource.capacity %>
</p>

<p>
  <strong>Overtime cost:</strong>
  <%= @resource.overtime_cost %>
</p>

<%= link_to 'Edit', edit_resource_path(@resource) %> |
<%= link_to 'Back', resources_path %>
