<%= form_for(@activity) do |f| %>
  <% if @activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@activity.errors.count, "error") %> prohibited this activity from being saved:</h2>

      <ul>
      <% @activity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
    <div class="field">
      <%= f.label 'Ressource auswählen' %><br />
      <%= f.collection_select :resource_id, Resource.all, :id, :name %>
    </div>
  <div class="field">
    <%= f.label :processing_time %><br>
    <%= f.number_field :processing_time %>
  </div>
  <div class="field">
    <%= f.label :earliest_end %><br>
    <%= f.number_field :earliest_end %>
  </div>
  <div class="field">
    <%= f.label :latest_end %><br>
    <%= f.number_field :latest_end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
