<p id="notice"><%= notice %></p>

<h1>Listing Activities</h1>

<table id="activities" class="display">
  <thead>
    <tr>
      <th>Name</th>
      <th>Vorgangsdauer</th>
      <th>Ressource</th>
      <th>Frühestes Ende</th>
      <th>Spätestes Ende</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @activities.each do |activity| %>
      <tr>
        <td><%= activity.name %></td>
        <td><%= activity.processing_time %></td>
        <td><%= activity.resource.name %></td>
        <td><%= activity.earliest_end %></td>
        <td><%= activity.latest_end %></td>
        <td><%= link_to 'Anzeigen', activity %></td>
        <td><%= link_to 'Bearbeiten', edit_activity_path(activity) %></td>
        <td><%= link_to 'Löschen', activity, method: :delete, data: { confirm: 'Sind Sie sicher?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Neuer Vorgang', new_activity_path %>
<br>  <br><%= link_to 'Zurück zur Projektplanung', rcpsp_start_path %>