<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= best_in_place @activity, :name %>
</p>

<p>
  <strong>Processing time:</strong>
  <%= @activity.processing_time %>
</p>

<p>
  <b>Ressource:</b>
  <%= @activity.resource.name %>
</p>
<p>
  <strong>Earliest end:</strong>
  <%= @activity.earliest_end %>
</p>

<p>
  <strong>Latest end:</strong>
  <%= @activity.latest_end %>
</p>

<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', activities_path %>
